
$newPrimary: #293C5A;


$primary: $newPrimary;


@import 'bootstrap';

body{
    background-color: #C9C3A8;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: #949951;
    font-weight: bold;
}

.customSeparator {
	width: 70px;
	height: 4px;
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 3%;
}

.customSeparator2 {
	width: 70px;
	height: 3px;
	background-color: $newPrimary;
	margin-top: 2%;
	margin-bottom: 5%;
}

#hideDetailsGI, #hideDetailsGI2{
    display: none;
}
